<h1>Create a new account</h1>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being created:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <%= form_for @user, url: '/users' do |f| %>
  <div class="panel panel-default items">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td style="width:300px">First Name</td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><%= f.password_field :password %></td>
        </tr>
        <tr>
          <td>Confirm Password</td>
          <td><%= f.password_field :password_confirmation %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <%= f.submit "Submit" %>
<% end %>